[submodule "Logitech-LCD"]
	path = Logitech-LCD
	url = https://github.com/sidewinder94/Logitech-LCD.git
[submodule "MumbleLink-CSharp-GW2"]
	path = MumbleLink-CSharp-GW2
	url = https://github.com/sidewinder94/MumbleLink-CSharp-GW2.git
[submodule "Logitech-LED"]
	path = Logitech-LED
	url = https://github.com/sidewinder94/Logitech-LED.git
[submodule "Utils"]
	path = Utils
	url = https://github.com/sidewinder94/Utils.git
