<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GWvW_Overlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <GWvW_Overlay.Properties.Settings>
      <setting name="opticity" serializeAs="String">
        <value>0.65</value>
      </setting>
      <setting name="show_names" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="hotkey" serializeAs="String">
        <value>Home</value>
      </setting>
      <setting name="alwaysTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="opticity_tracker" serializeAs="String">
        <value>0.78</value>
      </setting>
      <setting name="show_tracker" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tracker_position_top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tracker_position_left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tracker_saved" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tracker_width" serializeAs="String">
        <value>330</value>
      </setting>
      <setting name="tracker_height" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="tracker_show_event" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="show_names_lang" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="home_server" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="auto_matchup" serializeAs="String">
        <value>False</value>
      </setting>
    </GWvW_Overlay.Properties.Settings>
  </userSettings>
</configuration>